<!DOCTYPE html>
<html lang="en">

{{ template "head" }}

{{ partial "navbar" }}

<body class="bg-base overflow-hidden h-screen max-h-screen text-text-base" hx-boost="true">
  {{ yield }}
</body>

</html>