<section class="h-screen w-full justify-center align-middle" id='section-body'>
<div x-data class="flex flex-col h-screen space-y-6 items-center justify-center">
  <div>
    <p class="text-8xl font-bold italic font-sans">
      Well that's just too bad isn't it.
    </p>
  </div>
  <div>
    <a hx-get="/login" hx-target='#section-body' class="cursor-pointer text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">
      Go back to login
    </a>
  </div>
</div>
</section>