{{ define "navbar-home" }}
{{ template "components/navbar" (map "Name" "AUTH_URL" "Value" .API_GATEWAY_URL) }}
{{ end }}

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script><script>
  var socket = io.connect('ws://localhost:5001', { transports: ['websocket'] });

  // For updating views.
  socket.on('update', (info) => {
    document.getElementById(info.room + "-views").innerHTML = info.value;
  });
</script>

<div
hx-get="/feed/16/0"
hx-trigger="load"
hx-target="this"
hx-swap="outerHTML"
></div>