<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 dark:bg-surface-0 border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

        <!-- Form starts here. -->
        <form class="space-y-4 md:space-y-6" action="" x-data="{ info : {username: null, password: null, confirm_password: null,} }" @submit.prevent="
            fetch('http://{{.API_GATEWAY_URL}}/auth/signup', 
                  {
                    method: 'POST',
                    body: JSON.stringify(info),
                    headers: {
                      'Content-Type': 'application/json'
                    },
                  }
            )
            .then(resp => {
              return resp.json()
            })
            .then(r => {
              alert(r.message)

              if (r.success) {
                window.location.href = '/login'
              }
            })            
            .catch(e => {alert(e)})
        ">
          <div>
            <label for="username" class="text-white block mb-2 text-sm font-medium">Username</label>
            <input type="text" name="username" id="username"
              class="border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-surface-1 dark:border-gray-600"
              placeholder="Username" required="" x-model="info.username">
          </div>

          <!-- Password -->
          <div>
            <label for="password" class="text-white block mb-2 text-sm font-medium">Password</label>
            <input type="password" name="password" id="password"
              class="border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-surface-1 dark:border-gray-600"
              placeholder="••••••••" required="" x-model="info.password">
          </div>

          <!-- Confirm Password -->
          <div>
            <label for="confirm_password" class="text-white block mb-2 text-sm font-medium">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password"
              class="border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-surface-1 dark:border-gray-600"
              placeholder="••••••••" required="" x-model="info.confirm_password">
          </div>

          <!-- Submit Button -->
          <button type="submit"
            class="w-full text-white bg-base focus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Register
          </button>

          <!-- Back to login -->
          <div class="w-full justify-center">
            <p class="text-sm text-center font-light text-gray-500 dark:text-gray-400 justify-center">
              Already have an account?
            </p>
            <p class="text-sm text-center font-semibold text-white text-gray-500 hover:underline justify-center mt-1">
              <a href='/login'>
                Sign in
              </a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
