{{ define "navbar-upload" }}
{{ template "components/navbar" (map "Name" "AUTH_URL" "Value" .API_GATEWAY_URL) }}
{{ end }}

<p id="view">HELLO</p>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script><script>
  var socket = io.connect('ws://localhost:5001', { transports: ['websocket'] });
  socket.emit('video', { video:'myVideo' });
  socket.on('update', count => {
    console.log("Got video count update.");
    document.getElementById("view").innerHTML = count;
  });

  let myVar = setInterval(() => {fetchViews(socket)}, 5000);
  function fetchViews(socket) {
    console.log("getting new view count");
    socket.emit('getNewViewCount', { video:'myVideo' });
  }
</script>
