{{ define "navbar-upload" }}
{{ template "components/navbar" (map "Name" "AUTH_URL" "Value" .API_GATEWAY_URL) }}
{{ end }}
<section x-data hx-swap="none">
  <div class="flex flex-col items-center justify-center px-56 py-8 mx-auto h-screen lg:py-0">
    <div class="w-full h-full rounded-lg shadow border dark:bg-surface-0 my-8 border-gray-700">
      <div class="mx-12 my-4">
        <p class="w-full text-center text-5xl font-semibold">
          Upload
        </p>
        <form id='form' class="space-y-2">

          <!-- File name -->
          <div>
            <label for="file_name" class="text-white block mb-2 text-sm font-medium">File name</label>
            <input type="text" name="file_name" id="file_name"
              class="border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-surface-1 dark:border-gray-600"
              required="">
          </div>

          <!-- File data -->
          <div x-data="{ files: null }">
            <label class="text-white block mb-2 text-sm" for="customFile">
            <p class="font-medium">File</p>
            <input type="file" class="sr-only" id="customFile" x-on:change="files = Object.values($event.target.files)">
            <span class="cursor-pointer border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-surface-1 dark:border-gray-600" x-text="files ? files.map(file => file.name).join(', ') : 'Choose a video'"></span>
            </label>
          </div>

          <button type="submit"
            class="w-full text-white bg-base focus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            @click='wasClicked()'
            >
            Upload
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
async function wasClicked() {
  console.log("Clicked")
  var files = document.getElementById("customFile").files

  // We only have 1 file.
  var file = files[0]

  var url

  try {
    const response = await fetch('http://{{ .API_GATEWAY_URL }}/api/upload')
    const json_response = await response.json()

    console.log(json_response)

    if (json_response.success) {
      url = json_response.url
    } else {
      alert('Failed to generate presigned url.')
      return
    }
    
  } catch(error) {
    alert(error)
  }

  try {
    const response = await fetch(url, {
      method: 'PUT',
      body: file
    })

    if (response.ok) {
      alert('uploaded')
    } else {
      alert('ggs')
    }

  } catch (error) {
    alert(error)
  }
}


</script>