{{ define "navbar-upload" }}
{{ template "components/navbar" (map "Name" "AUTH_URL" "Value" .API_GATEWAY_URL) }}
{{ end }}
<section x-data='{ fileName: null }' hx-swap="none">
  <div class="flex flex-col items-center justify-center px-56 py-8 mx-auto h-screen lg:py-0">
    <div class="w-full h-full rounded-lg shadow border dark:bg-surface-0 my-8 border-gray-700">
      <div class="mx-12 my-4">
        <p class="w-full text-center text-5xl font-semibold">
          Upload
        </p>
        <form id='form' class="space-y-2">

          <!-- File name -->
          <div>
            <label for="fileName" class="text-white block mb-2 text-sm font-medium">File name</label>
            <input 
              type="text" 
              name="file_name" 
              id="file_name"
              class="border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-surface-1 dark:border-gray-600"
              required=""
              x-model="fileName"
              >
          </div>

          <!-- File data -->
          <div x-data="{ files: null }">
            <label class="text-white block mb-2 text-sm" for="customFile">
            <p class="font-medium">File</p>
            <input type="file" class="sr-only" id="customFile" x-on:change="files = Object.values($event.target.files)">
            <span class="cursor-pointer border sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-surface-1 dark:border-gray-600" x-text="files ? files.map(file => file.name).join(', ') : 'Choose a video'"></span>
            </label>
          </div>

          <button type="submit"
            class="w-full text-white bg-base focus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            @click='wasClicked(fileName)'
            >
            Upload
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
async function wasClicked(fileName) {
  // Retrieve the file.
  var files = document.getElementById("customFile").files

  // We only have 1 file.
  var file = files[0]

  var url
  var filekey

  // Get the presigned url.
  try {
    console.log("Sending: ", document.cookie)
    const response = await fetch('http://{{ .API_GATEWAY_URL }}/api/upload', {
      mode: 'cors',
      credentials: 'include',
      headers: {
        'X-Custom-Header': document.cookie,
      }
    })
    const json_response = await response.json()

    console.log(json_response)

    if (json_response.success) {
      url = json_response.url
      filekey = json_response.key
    } else {
      alert('Failed to generate presigned url.')
      return
    }
    
  } catch(error) {
    alert(error)
    return
  }

  console.log("File key:", filekey)

  // Call the presigned url.
  try {
    const response = await fetch(url, {
      method: 'PUT',
      body: file,
      Origin: window.Origin
    })

    if (response.ok) {
      // Trigger the video saving pipeline.
      alert('Uploaded to s3')
      try {
        const response = await fetch('http://{{ .API_GATEWAY_URL }}/api/save', {
          method: 'POST',
          mode: 'cors',
          credentials: 'include',
          headers: {
            'X-Custom-Header': document.cookie,
            'X-Video-Name': filekey,
          },
          body: JSON.stringify({file_name: fileName}),
        })
        if (response.ok) {
          alert('Successfully saved')
        } else {
          alert('Failed to save')
        }
      } catch (error) {
        alert('Failed to save: ', erro)
        return
      }
    } else {
      alert('Failed to upload to s3')
      return
    }
  } catch (error) {
    alert(error)
    return
  }
}
</script>