<section class="flex overflow-hidden">
  <div class="w-[73%]">
        <div class="flex h-full items-center justify-center justify-items-center">
          <video-js 
          id=vid1 
          class="vjs-default-skin" 
          loop="true"
          preload="auto"
          poster="{{ .Thumbnail }}"
          controls
          ></video-js>
          <!-- "core" version of Video.js -->
          <script>
            // Global request callback defining beforeSend function, will affect every player.
            var player = videojs('vid1', {autoplay: 'play'});
            player.src({
              src: 'http://{{ .API_GATEWAY_URL }}/api/users/{{ .Username }}/videos/{{ .VideoKey }}',
              type: 'application/x-mpegURL',
            });

            /**
             * add manifest authorization header
             */
            window.xhook.before((request, callback) => {
              // only set header request for the videojs src url (don't touch other xhr requests)
              if (request.url === 'http://{{ .API_GATEWAY_URL }}/api/users/{{ .Username }}/videos/{{ .VideoKey }}') {
                request.xhr.setRequestHeader('X-Custom-Header', document.cookie);
              }
              callback();
            });
          </script>
        </div>
  </div>

  <!-- Side bar -->
  <div class="w-[27%] h-screen bg-surface-0 ">
    <div class="mx-4 my-4 flex flex-col">
      <p class="text-lg text-text-base">{{ .VideoName }}</p>
      <p class="text-sm text-text-base">By {{ .Username }}</p> 
      <p class="text-sm text-text-base">{{ .Video.Views }} views</p>
    </div>
  </div>
</section>

